<?xml version="1.0"?>
<configuration>
  <!--Do cấu hinh ở file config này lên khi các bạn chưa đăng nhập thì sẽ không vào được phần quản trị và nó luôn chuyển ra trang Login.aspx-->
  <location path="~/Admin/Login.aspx">
    <system.web>
      <authorization>
        <allow users="*"/> <!--Cho phep tat ca cac user bao gom anonymous user duoc truy cap vao trang Admin/Login.aspx-->
      </authorization>
    </system.web>
  </location>
    
  <!--Còn lại các tài nguyên khác thì yêu 
    cầu phải chứng thực trước khi được 
    truy cập vào và user này phải thuộc 
    role Administrators -->
  <system.web>
    <authorization>
      <allow roles="Administrators"/>
      <deny users="*"/>
    </authorization>
    
  </system.web>
</configuration>
