<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
    <clear/>
    <add name="LocalSqlServer" connectionString="Data Source=NHANIT-PC;Initial Catalog=UserAsp;Integrated Security=True"/>
		<add name="KetNoi" connectionString="Data Source=NHANIT-PC;Initial Catalog=UserAsp;Integrated Security=True"/>
	</connectionStrings>
	<!--Bo sug cho phan phan trang-->
	<appSettings>
		<add key="PageSize" value="10"/>
		<add key="DesLength" value="100"/>
		<add key="SiteName" value="CÔNG TY PHƯƠNG TRANG"/>
	</appSettings>
	<system.web>
  <roleManager enabled="true" />
  <compilation debug="true" targetFramework="4.0">
    
  </compilation>
		<!--Phan httpHandlers de hien MaCapcha len-->
		<httpHandlers>
			<add verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>
		</httpHandlers>
    
    <!--Phan nay cho Login trong admin chay truoc-->
    <authentication mode="Forms">
       <forms loginUrl="~/Admin/Login.aspx" timeout="60" />
    </authentication>
    
    <!--Phần này cho Khách hàng đăng ký là thành viên. Không cần bắt nhập password đặc biệt...-->
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider,System.Web, Version=2.0.0.0, Culture=neutral,PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="LocalSqlServer" enablePasswordRetrieval="false" enablePasswordReset="true" passwordFormat="Hashed" requiresQuestionAndAnswer="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" applicationName="/"/>
      </providers>
    </membership>
    
		<!--Phần này bắt lỗi cho Oops-->
		<customErrors mode="RemoteOnly" defaultRedirect="Oops.aspx"></customErrors>
		<!--Thong ke so nguoi truy cap-->
		<sessionState mode="InProc" timeout="1"></sessionState>
	</system.web>
</configuration>
