<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <add name="KetNoi" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=QuanLyDKVeXe3;Integrated Security=True"/>
  </connectionStrings>

  <!--Bo sug cho phan phan trang-->
  <appSettings>
    <add key="PageSize" value="10"/>
    <add key="DesLength" value="100"/>
    <add key="SiteName" value="CÔNG TY PHƯƠNG TRANG"/>
  </appSettings>
  
  
    <system.web>
      
        <compilation debug="true" targetFramework="4.0" />
      
      <!--Phan httpHandlers de hien MaCapcha len-->
      <httpHandlers>
        <add verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>
      </httpHandlers>
      <!--Phần này bắt lỗi cho Oops-->
      <customErrors mode="RemoteOnly" defaultRedirect="Oops.aspx"></customErrors>
      
    </system.web>
   
 
      
</configuration>
